@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
    padding: 0;
    margin: o;
    box-sizing: content-box;
}

.body {
    
    
}
.img-fluid {
    margin-top: 60px;
    border: none;
}
.brandName {
    font-family: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;; 
  padding: 10%;
}


#aboutus {
    color: #aaa;
    text-align: center;
    /* background-image: url(./assets/pizza\ bg.jpg); */
}
.header {
    color: hsl(60, 100%, 50%);
}
.descript {
    font: 400 100px/1.0 'Just Another Hand', Helvetica, sans-serif;
    color: #969595;
    text-shadow: 0px 3px 0px #5e5e5e, 0px 5px 0px #4d4d4d, 0px 7px 0px #3c3c3c, 0px 9px 0px #2b2b2b, 3px 8px 15px rgba(0,0,0,0.1), 3px 8px 5px rgba(0,0,0,0.3);
    color: yellow;

  }
  

.descript2 {
    
  /* font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  color: #2b2b2b; */
  /* text-shadow: 4px 4px 0px rgba(0,0,0,0.1); */
  
}
.offers {
    justify-content: center;
    text-align: center;
}
.offers2 {
    display: none;
    text-align: center;
}
span{
    color: black;
}
.contact {
    background-image: url(./assets/map.jpg);
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.container-fluid1 {
    color: hsl(60, 100%, 50%);
}
.card {
    border-style: 10px solid yellow;
    border-color: yellow;
    background-color: yellow;
    /* color: red; */
    /* background: transparent; */
    
    margin: 3%;
    border: 10px;
    border-radius: 100px;


}
.brandName{
    /* margin-top: 100px; */
    padding-top: 4%;
   
}
.position-relative {
    margin-top: 100px;
}
.menu {
    color: #2b2b2b;
    border-style: double;
    border-color: yellow;
    margin-left: 40%;
    /* background-image: url(./assets/pizza\ bg.jpg);
    background-size: cover;
    height: 60hv; */

}
.list {
    color: #aaa;
    /* background-image: url(./assets/pizza\ bg.jpg);
    height: 70vh; */
}
.text-center {
    color: yellow;
}
#part2 {
    /* F */
    /* background-size: cover;
    width: 100%;
    height: 120vh; */
}
.overlay {
    margin-top: -100px;
    border-spacing: 10px;
    color: white;
    display: none;
}
/* .nav-item {
    color: yellow; */
/* } */
.navbar {
    float: right;
    text-decoration: none;
    display: inline-flex;
    font-size: x-large;
    color: white;
    padding: 40px;
    margin-right: 20px;
    position: absolute;
    top:0;
    right:0;
    justify-content: space-between;
    margin-top: -100px;
    
}
li{
    list-style: none;
    justify-content: space-around;
    margin-right: 80px;
}
a{
    text-decoration: none;
    color: black;
}